html {
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    margin: 0;
    background-color: #fff;
}

header {
    background-color: #364552;
    color: white;
    padding: 3rem 2rem;
}

header h1 {
    font-size: 4rem;
    text-align: center;
}

section article h1  {
    text-align: center;
    font-size: 3rem;
}

section article h3 {
    width: 2rem;
}

h1#title {
        text-align: center;
}

section article p {
    padding: 0.5rem 2rem;
    text-align: justify;
    font-size: large;
}

footer {
    background-color: rgb(41, 37, 37);
    padding: 3rem;
    color: white;    
}

footer section {
    float:  right;
}
footer p {
    margin: 0;
}

footer a {
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;  
}

footer a:hover {
    color: cornflowerblue;
}